* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: blue;
    padding-top: 16px 0;
    color: white;
    padding-bottom: 16px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.front {
    margin-right: 24px;
}

nav {
    background-color: blue;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: white;
    text-decoration: none;
}

.container-flex {
    display: flex;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

lista-produtos {
    flex-wrap: wrap;
}

.lista-produtos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-produtos li img {
    max-width: 100%;
}

.lista-produtos li h3 {
    margin: 16px;
}

button {
    display: block;
    width: 80%;
    padding: 8px 0;
    border: none;
    background-color: #119750;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.price {
    margin: 16px;
    display: block;
}

@media screen and (max-width:640px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .destaque {
        margin-bottom: 56px;
    }

    .destaque .noticia a {
        display: block;
        font-size: 1.5em;
    }

    .destaque .noticia img {
        margin-right: 0;
    }

    .noticias {
        display: block;
    }

    .noticias .noticia {
        margin-bottom: 36px;
    }

    aside {
        padding-left: 0;
    }

    header .container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        border: none;
        position: relative;
        
    }
    
    .menu > li {
        clear: both;
    }

    .menu{
        display: none;
    }
    
    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button{
        padding: 8px;
    }
}

@media screen and (min-width:641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .lista-produtos {
        grid-template-columns: repeat(2, 48%);
    }
}