* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 15px;
    background-color: white;
    color: black;
}

header nav li {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

header nav li a {
    color: black;
    text-decoration: none;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .inicio {
    background-image: url(./imagens/TLOU.jpg);
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

section .container {
    background-image: url(./imagens/background.jpg);
    background-color: #cccccc;
    height: 785px;
    color: white;
}


section p {
    display: flex;
    align-items: center;
}




